

.navbar-default .navbar-nav > li > a {
    font-family: arial;
    font-size: 14px;
}


#secondary .widget > h3 {
    font-family: arial;
    font-size: 16px;
}

#doubanlist td {
    padding: 5px;
}